table {
  margin: 15px auto;
  width: 95%;
}

.id-col {
  width: 15px;
}

td {
  width: 22%;
}
.actions-btn-container {
  min-width: 30px;
}

.app-input {
  padding-right: 10px;
}

.add-btn-container {
  position: absolute;
  top: 22px;
  right: 30px;
}
